@import "presets";

// ===== HORIZONTAL LIST ===== //
#hr-categories {
  display: none;
}
#hr-categories:checked ~ .hr__list--dropdown {
  display: block;
  // "max-height" must be modified to be slightly larger than it content
  max-height: 5rem;
  pointer-events: none;
  opacity: 1;
}
#hr-categories:checked ~ .dropdown-label > svg {
  transform: rotate(180deg);
}

.hr__list {
  @include flex-center($display: inline-flex, $justify: space-around);
  list-style-type: none;
  position: relative;
  & > li {
    padding: 8px 6px;
    margin-left: 8px;
    position: relative;
    & > a {
      text-decoration: none;
    }
  }
  & .dropdown-label {
    cursor: pointer;
    @include flex-center();
    & > span {
      padding-right: 8px;
    }
    & > svg {
      @include basic-transition();
    }
  }

  &--dropdown {
    @include flex-center(
      $align: flex-start,
      $justify: flex-start,
      $direction: column
    );
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    @include basic-transition();
    opacity: 0;
    border: 1px solid black;

    & > li {
      padding: 3px 5px;
    }
  }
}
// HTML CODE
// <ul class="hr__list">
//   <li><a href="">HOME</a></li>
//   <li><a href="">ABOUT</a></li>
//   <li>
//     <input type="checkbox" id="hr-categories" />
//     <label class="dropdown-label" for="hr-categories"
//       ><span>CATEGORIES</span>
//       <svg
//         xmlns="http://www.w3.org/2000/svg"
//         width="12"
//         height="12"
//         viewBox="0 0 24 24"
//       >
//         <path d="M12 21l-12-18h24z" /></svg
//     ></label>
//     <ul class="hr__list--dropdown">
//       <li>Science</li>
//       <li>History</li>
//       <li>Mathematics</li>
//     </ul>
//   </li>
// </ul>
// END OF HTML CODE
// ===== END OF HORIZONTAL LIST ===== //

// ===== VERTICAL LIST ===== //
#vr-categories {
  display: none;
}
#vr-categories:checked ~ .vr__list--dropdown {
  max-height: 5rem;
}
#vr-categories:checked ~ .dropdown-label::before {
  top: 5%;
  height: 90%;
}
.dropdown-label {
  &::before {
    @include basic-transition($duration: 0.2s);
  }
}

.vr__list {
  @include flex-center(
    $display: inline-flex,
    $direction: column,
    $align: flex-start
  );
  list-style-type: none;
  border: 1px solid black;
  & > li {
    padding: 4px 12px;
    padding-left: 0.7em;
    position: relative;
    & span,
    svg {
      cursor: pointer;
    }
    & > a,
    label {
      &::before {
        content: "";
        position: absolute;
        top: 15%;
        left: 0.2em;
        height: 70%;
        width: 0.12em;
        background-color: #333;
      }
    }
  }
  &--dropdown {
    @include basic-transition();
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    & > li {
      padding: 3px 6px;
      font-size: 0.8em;
    }
  }
  & a {
    text-decoration: none;
  }
}
// ===== END OF VERTICAL LIST ===== //
